body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ccc;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #222;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-edit-form {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.profile-edit-form form {
    display: flex;
    flex-direction: column;
}

.profile-edit-form label {
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

.profile-edit-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.profile-edit-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.profile-edit-form button:hover {
    background-color: #666;
}
