{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать профиль</title>
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="#">Мои задачи</a></li>
                <li><a href="#">Команды</a></li>
                <li><a href="{% url 'create_team' %}">Создать команду</a></li>
                <li><a href="{% url 'create_task' %}">Создать задачу</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Редактировать профиль</h1>
            <div class="profile-edit-form">
                <form method="POST" action="{% url 'edit_profile' %}">
                    {% csrf_token %} 
                    <label for="first_name">Имя:</label>
                    <input type="text" id="first_name" name="first_name" value="Иван" required>

                    <label for="last_name">Фамилия:</label>
                    <input type="text" id="last_name" name="last_name" value="Иванов" required>

                    <label for="email">Электронная почта:</label>
                    <input type="email" id="email" name="email" value="ivan@example.com" required>

                    <button type="submit">Сохранить изменения</button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
