{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'tasks' %}">Мои задачи</a></li>
                <li><a href="{% url 'my_teams' %} ">Мои команды</a></li>
                <li><a href="{% url 'team_list' %}">Команды</a></li>
                <li><a href="{% url 'create_team' %} ">Создать команду</a></li>
                <li><a href="{% url 'create_task' %} ">Создать задачу</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Главная страница</h1>
            <img src="{% static 'images/note.png' %}" alt="Notepad Icon" class="icon">
        </div>
    </div>
</body>
</html>
